html{
    background-color: #edcbff;
    text-align: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
h1{
    font-size: 80px;
    color: #869ffb;
    font-family: 'Times New Roman', Times, serif;
    
}
form{
    font-size: 35px;
    color: rgb(0, 0, 0)
}
label{
    display: block;
}
button{
    border-radius: 12px ;
    display: inline-block;
    background-color: rgb(1, 144, 96);
    color:rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    padding: 15px 30px;
}
small{
    font-size: 16px;
}
input{
    height: 5px;
    width: 250px;
    border-radius: 8px;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}
#results{
    margin-top: 30px;
    font-size: 30px;
    color: rgb(88, 88, 88);
    text-align: center;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}